/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$text: 'Raleway', sans-serif;
	$titel: 'Montserrat',sans-serif;
	$subtitel: 'Merriweather';
